Alumnos/Connected Services/ServiceReferenceA/WebServiceAlumn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Crear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eAlumno" type="tns:EAlumno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EAlumno">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Rut" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Apellidos" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Edad" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sexo" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CrearResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscarRut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarRutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarRutResult" type="tns:EAlumno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarIdResult" type="tns:EAlumno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eAlumno" type="tns:EAlumno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EliminarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mostrar">
        <s:complexType />
      </s:element>
      <s:element name="MostrarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MostrarResult" type="tns:ArrayOfEAlumno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEAlumno">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EAlumno" nillable="true" type="tns:EAlumno" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CrearSoapIn">
    <wsdl:part name="parameters" element="tns:Crear" />
  </wsdl:message>
  <wsdl:message name="CrearSoapOut">
    <wsdl:part name="parameters" element="tns:CrearResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarRutSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarRut" />
  </wsdl:message>
  <wsdl:message name="BuscarRutSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarRutResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarIdSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarId" />
  </wsdl:message>
  <wsdl:message name="BuscarIdSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarIdResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapIn">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="MostrarSoapIn">
    <wsdl:part name="parameters" element="tns:Mostrar" />
  </wsdl:message>
  <wsdl:message name="MostrarSoapOut">
    <wsdl:part name="parameters" element="tns:MostrarResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceAlumnSoap">
    <wsdl:operation name="Crear">
      <wsdl:input message="tns:CrearSoapIn" />
      <wsdl:output message="tns:CrearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarRut">
      <wsdl:input message="tns:BuscarRutSoapIn" />
      <wsdl:output message="tns:BuscarRutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarId">
      <wsdl:input message="tns:BuscarIdSoapIn" />
      <wsdl:output message="tns:BuscarIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input message="tns:ActualizarSoapIn" />
      <wsdl:output message="tns:ActualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input message="tns:EliminarSoapIn" />
      <wsdl:output message="tns:EliminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <wsdl:input message="tns:MostrarSoapIn" />
      <wsdl:output message="tns:MostrarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceAlumnSoap" type="tns:WebServiceAlumnSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Crear">
      <soap:operation soapAction="http://tempuri.org/Crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRut">
      <soap:operation soapAction="http://tempuri.org/BuscarRut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarId">
      <soap:operation soapAction="http://tempuri.org/BuscarId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <soap:operation soapAction="http://tempuri.org/Mostrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceAlumnSoap12" type="tns:WebServiceAlumnSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Crear">
      <soap12:operation soapAction="http://tempuri.org/Crear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarRut">
      <soap12:operation soapAction="http://tempuri.org/BuscarRut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarId">
      <soap12:operation soapAction="http://tempuri.org/BuscarId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap12:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap12:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mostrar">
      <soap12:operation soapAction="http://tempuri.org/Mostrar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceAlumn">
    <wsdl:port name="WebServiceAlumnSoap" binding="tns:WebServiceAlumnSoap">
      <soap:address location="http://localhost:63048/WebServiceAlumn.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceAlumnSoap12" binding="tns:WebServiceAlumnSoap12">
      <soap12:address location="http://localhost:63048/WebServiceAlumn.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>